:root {
    --main-color: #ef9b28;
    --main-color-darker-1: #d7952f;
    --main-color-darker-2: #c18c2a;
    --text-color-white: #fff;
}

@font-face {
    font-family: "Inter";
    src: url("../../../assets/fonts/Inter/Inter-VariableFont_opsz_wght.ttf");
}

.section-title {
    color: var(--main-color);
    font-family: "Inter";
    line-height: 46px;
    letter-spacing: -0.4px;
}
.section-title::first-letter {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 0.3em;
    text-decoration-color: var(--main-color);
}
.section-title::after {
    content: none;
    display: none;
}

form .form-label {
    color: var(--main-color);
}

form input {
    caret-color: var(--main-color);
}

.custom-btn {
    background-color: var(--main-color);
    color: var(--text-color-white);
    border: none;
    border-radius: 3.125rem;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out;
}

.custom-btn:hover,
.custom-btn:focus {
    background-color: var(--main-color-darker-1);
    color: var(--text-color-white);
}

.btn.custom-btn:active {
    background-color: var(--main-color-darker-2);
    color: #ccc;
}

.custom-btn:disabled {
    background-color: #ccc !important;
    color: var(--main-color) !important;
}

/* sidebar styles */
.sidebar-container li.ps-menuitem-root {
    padding: 5px 14px;
}
.sidebar-container li.ps-menuitem-root:hover {
    padding: 5px 14px;
}

.sidebar-container li.ps-menuitem-root.active-menu a {
    background-color: rgba(239, 155, 40, 0.3) !important;
}

.sidebar-container li.ps-menuitem-root a.ps-menu-button {
    padding: 0 16px;
    border-radius: 8px;
    justify-content: center;
}
